<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205690622330-oas0rerpv75kammo8sjtu4os7iv9tj88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205690622330-oas0rerpv75kammo8sjtu4os7iv9tj88</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ1EPR5W9elbOpU9F1EEyazmHuX1LcvOs</string>
	<key>GCM_SENDER_ID</key>
	<string>205690622330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.bojie.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1685a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1685a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205690622330:ios:a68b2871be4e6c194706c3</string>
</dict>
</plist>